<div class="modal-header">
    <h4 class="modal-title">Add New Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" id="productName" [(ngModel)]="newProduct.name" name="productName">
      </div>
      <div class="form-group">
        <label for="productCategory">Product Category</label>
        <input type="text" class="form-control" id="productCategory" [(ngModel)]="newProduct.category" name="productCategory">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" [(ngModel)]="newProduct.phone" name="phone">
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" id="date" [(ngModel)]="newProduct.date" name="date">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="addProduct()">Add Product</button>
  </div>
  